<ion-header></ion-header>

<ion-content>
  <div class="brand">
    <img src="assets/logo_light.svg" alt="Spani logo" class="logo">
  </div>
  
  <div padding *ngIf="!showOTPPage" >
    <ion-segment mode="md" color="dark" [(ngModel)]="loginType">
      <ion-segment-button value="phoneNumber">
        Phone Number
      </ion-segment-button>
      <ion-segment-button value="emailAddress">
        Email Address
      </ion-segment-button>
    </ion-segment>
  </div>
    
  <div [ngSwitch]="loginType">
    <ion-list *ngSwitchCase="'phoneNumber'">
      <button ion-button (click)="addService()">Add Service</button>
      <div *ngIf="!showOTPPage">
        <ion-card padding class="phone-login"> 
          <p class="info">
            <i class="fa fa-info-circle"></i>
            Select dial code and then enter phone number
          </p>
          <ion-grid>
            <ion-row>
              <ion-col col-3>
                <ion-item class="country-code animated pulse">
                  <ion-input type="text" placeholder="+27" (ionFocus)="getCountryCode()" [(ngModel)]="country.flag" flag="flag" #flag="ngModel"></ion-input>
                </ion-item> 
              </ion-col>
              <ion-col col-9>
                <ion-item class="animated pulse">
                  <span item-start>{{country.dialCode}}</span>
                  <ion-input [(ngModel)]="data.phonenumber"  [brmasker]="{mask:'000000000000000', len:15,  type:'num'}" placeholder="0820001234"  clearOnEdit=false required phonenumber="phonenumber" #phonenumber="ngModel" pattern=".{9,}"
                  type="tel"></ion-input>
                </ion-item>
                <div [hidden]="phonenumber.valid || phonenumber.pristine" class="validation">
                  <p class="animated fadeInLeft" [hidden]="!phonenumber.hasError('required')">Phone Number is required</p>
                  <p class="animated fadeInLeft" [hidden]="!phonenumber.hasError('pattern')">Phone Number is too short</p>
                </div>
                <div [hidden]="!phonenumber.dirty || !phonenumber.valid && !country.dialCode" class="validation">
                  <p class="animated fadeInLeft" [hidden]="country.dialCode">Country is required</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
         
          <button ion-button block primary [disabled]="!country.dialCode || !phonenumber.valid" (click)="signinWithPhonenumber()">Login</button>
          <p class="terms">Terms and conditions apply</p>
        </ion-card>
      </div>

      <div *ngIf="showOTPPage">
        <ion-card padding> 
          <p class="otp-message">
            <i class="fa fa-info-circle"></i>
            Enter the 6 digit code sent to your phone
          </p>
          <ion-item class="animated pulse">
            <ion-label>OTP code</ion-label>
            <ion-input [(ngModel)]="data.otpCode" placeholder="123456" required otpCode="otpCode" #otpCode="ngModel" [brmasker]="{mask:'000000', len:6,  type:'num'}"
            type="number">
            </ion-input>
          </ion-item>
          <div [hidden]="otpCode.valid || otpCode.pristine" class="validation">
            <p class="animated fadeInLeft" [hidden]="!otpCode.hasError('required')">OTP code is required</p>
          </div>
          <button ion-button block primary [disabled]="!otpCode.valid" (click)="verifyLoginCode()">Verify code</button>
          <p class="terms">Terms and conditions apply</p>
        </ion-card>
      </div>
    </ion-list>
  
    <ion-list *ngSwitchCase="'emailAddress'">
      <ion-card padding>
          <p class="info">
            <i class="fa fa-info-circle"></i>
            Enter email address and password
          </p>

        <ion-item class="animated pulse">
          <ion-label>
            <i class="fa fa-envelope"></i>
          </ion-label>
          <ion-input [(ngModel)]="data.email" placeholder="Email address" required email="email" #email="ngModel" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
          type="email">
        </ion-input>
        </ion-item>
        <div [hidden]="email.valid || email.pristine" class="validation">
          <p class="animated fadeInLeft" [hidden]="!email.hasError('required')">Email address is required</p>
          <p class="animated fadeInLeft" [hidden]="!email.hasError('pattern')">Invalid email address</p>
        </div>
      
        <ion-item class="animated pulse">
          <ion-label>
            <i class="fa fa-lock"></i>
          </ion-label>
          <ion-input [(ngModel)]="data.password" placeholder="Password" required clearOnEdit=false password="password" #password="ngModel" pattern=".{6,}"
          type="{{type}}"></ion-input>
          <button *ngIf="!showPass" ion-button clear color="dark" class="eye" item-right (click)="showPassword()">
            <ion-icon name="eye-off"></ion-icon>
          </button>
          <button *ngIf="showPass" ion-button clear color="dark" class="eye" item-right (click)="showPassword()">
            <ion-icon name="eye"></ion-icon>
          </button>
        </ion-item>
        <div [hidden]="password.valid || password.pristine" class="validation">
          <p class="animated fadeInLeft" [hidden]="!password.hasError('required')">Password is required</p>
          <p class="animated fadeInLeft" [hidden]="!password.hasError('pattern')">Password must be 6 characters or longer</p>
        </div>
        <div  id="sign-in-button" ></div>
        <button ion-button block primary [disabled]="!email.valid || !password.valid " (click)="signinWithEmailAndPassword()">Login</button>
        <p class="terms">Terms and conditions apply</p>
      </ion-card>

    </ion-list>
  </div>
  <div id="recaptcha-container"></div>
</ion-content>
<ion-footer mode="md">
  <div *ngIf="showOTPPage" class="row controls">
    <button ion-button clear block class="clear"  (click)="cancelOtpVerification()">Cancel verification</button>
  </div>

  <div *ngIf="!showOTPPage" class="row controls">
    <div class="col col-6 left">
      <button ion-button clear class="clear" (click)="goToSignup()">Sign up</button>
    </div>
    <div class="col col-6 right">
      <button ion-button clear class="clear" (click)="goToForgotPassword()">Forgot password</button>
    </div>
  </div>
</ion-footer>
