page-forgot-password  {
    .content{
        background-color: $primary !important;
    }

    .brand {
        margin-top: 15%;
        margin-bottom: 6%;
        .logo {
            width: 80px;
        }
    }
        
    .segment-md-dark .segment-button {
        color: $secondary;
    }
 
    p.info {
        text-align: center;
        font-size: 14px;
        padding: 10px 0;
        i {
            color: $primary;
        }

    }
    ion-card {
        min-height: 240px;
        background-color: $secondary !important;
        .button {
            margin-top: 10%;
        } 
        .otp-message {
            font-size: 12px;
            color: $primary;
            text-align: center;
            font-weight: bold;
            margin: 20px 0;
        }
    }
    .item-inner {
        border-bottom: none !important;
    }

    ion-item {
        border: 1px solid $secondary !important;
        margin: 10px 0 !important;
    }
 
    .label {
        color: $primary !important;
    }

    .footer {
        .button {
            color: white;
        }
    }

    .validation p {
        margin-bottom: 0 !important;
    }

}
