<ion-header>
  <ion-navbar color="dark">
    <ion-title>Country Code</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismissModal()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-item *ngFor="let country of filteredCountries" (click)="selectCountry(country)">
    {{country.flag}} {{country.name}}
    <span item-end>{{country.dial_code}}</span>
  </ion-item>
</ion-content>
