page-post-service {
    .scroll-content{
        background-color: $light-grey;
    }
    .button.border {
        width: 90%;
        margin: 0 auto !important;
    }

    ion-label{
        color: $primary !important;
    }

    ion-select, ion-textarea {
        font-weight: normal;
    }

    ion-item.item {
        margin: 0;
    }

    ion-input {
        color: $dark !important;
    }
}
