<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Service Details
    </ion-title>
    <ion-buttons *ngIf="service" end>
      <button ion-button icon-left (click)="presentShareJobActionSheet(service)">
        <ion-icon name="share-alt"></ion-icon>Share
      </button>
    </ion-buttons>
    <!-- <ion-buttons *ngIf="service" end>
      <button ion-button icon-left (click)="manageJob(service)">
        <i class="fa fa-2x fa-ellipsis-h"></i>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="banner" *ngIf="service">
    <div class="top_img">
      <img src="assets/imgs/categories/{{service.icon}}.svg" class="animated zoomIn">
    </div>
    <h2 class="animated slideInLeft">{{service.title}}</h2>
    <p class="animated slideInLeft">{{service.description}}</p>
    <p class="animated slideInRight">Posted {{getDateFromNow(service.date)}}</p>
    <ion-grid class="user-info">
      <ion-row> 
        <ion-col col-6 class="animated slideInDown">
          <h2>{{ viewed?.length || 0 }}</h2>
          <p>Views</p>
        </ion-col>
        <ion-col col-6 class="animated slideInDown">
          <h2>{{ requested?.length || 0 }}</h2>
          <p>Requests</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list *ngIf="service" >
    <div class="job-summary">

      <ion-card class="center" *ngFor="let s of service.services">
        <ion-item text-wrap>
          <ion-avatar item-start>
            <img src="assets/imgs/services/categories/cleansing.png" alt="">
          </ion-avatar>
          <!-- <i class="animated slideInLeft fa fa-briefcase icon" item-start></i> -->
          <h2 class="animated slideInDown">{{ s.name }}</h2>
          <p class="animated slideInUp">{{ s.description }}</p>
          
        </ion-item>
      </ion-card>

      <!-- <ion-card class="center" [hidden]="service.location.address">
        <ion-item text-wrap>
          <i class="animated slideInLeft fa fa-map-marker icon" item-start></i>
          <h2 class="animated slideInDown">Address</h2>
          <p class="animated slideInUp">{{ service.location.address }}</p>
        </ion-item>
      </ion-card>

      <ion-card class="center" *ngIf="service.services">
        <ion-item text-wrap>
          <i class="animated slideInLeft fa fa-award icon" item-start></i>
          <h2 class="animated slideInDown">Services provided</h2>
          <ion-badge color="dark" class="animated slideInUp" *ngFor="let s of service.services">{{s}}</ion-badge>
        </ion-item>
      </ion-card>

      <ion-card class="center" *ngIf="service.postedBy && service.postedBy.firstname">
        
        <ion-item text-wrap>
          <h2 class="animated slideInDown">{{ service.postedBy.firstname }} {{service.postedBy.lastname}} </h2>
          <p class="animated slideInUp">
            <span [hidden]="!service.postedBy.email">
              <i class="animated slideInLeft fa fa-envelope icon" item-start></i>
              {{ service.postedBy.email}} 
            </span>
            <br>
            <span [hidden]="!service.postedBy.phone">
              <i class="animated slideInLeft fa fa-phone icon" item-start></i>
              {{ service.postedBy.phone}} 
            </span>
          </p>
        </ion-item>
      </ion-card> -->
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <button ion-button primary  block (click)="requestService(service)">Request service</button>
</ion-footer>