<ion-menu [content]="content"  persistent="true" >
  <ion-content class="user-profile">
    <div *ngIf="profile" class="profile">
      <img [src]="profilePicture()" (error)="img.src = defaultImg" #img alt="profile" class="profile-picture">
      <h2>{{profile.firstname}} {{profile.lastname}}</h2>
      <p>{{profile.email}}</p>
      <p>{{profile.type}}</p>
    </div>
    <ion-list *ngIf="profile" class="menu">
      <ion-item menuClose ion-item icon-left (click)="nav.setRoot(pages.dashboardPage)">
        <i class="fa fa-th-large"></i>
          Dashboard
      </ion-item>
      <ion-item menuClose ion-item icon-left (click)="nav.setRoot(pages.servicesPage)">
        <i class="fa fa-concierge-bell"></i>
          Services
      </ion-item> 
      <ion-item menuClose ion-item icon-left (click)="nav.setRoot(pages.profilePage)">
        <i class="fa fa-user"></i>
        <!-- <ion-icon class="light" name="person" item-start></ion-icon> -->
          Profile
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <button ion-button block clear menuClose class="logout-button" (click)="logout()" icon-start>
      <ion-icon class="dark" name="log-out"></ion-icon>
      Logout
    </button>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>