<ion-header>
  <ion-navbar color="dark">
    <ion-title>Services</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismissModal()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Refresh jobs"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="services">
    <div [@listAnimation]="services.length">
      <ion-list *ngFor="let service of services">
        <ion-card>
          <ion-item *ngIf="service" class="job" (click)="viewJobDetails(service)">
            <ion-thumbnail item-start>
              <img src="assets/imgs/categories/{{service.category.toLowerCase()}}.svg">
            </ion-thumbnail>
            <h2>{{service.title}}</h2>
            <p>{{service.category}}</p>
            <i class="fa fa-chevron-right light" item-end></i>
          </ion-item>
          <ion-item-divider color="light">
            <div class="row">
              <div class="col col-6 info-bar" [hidden]="!service.dateCreated">
                <div item-start>
                  <i class="fa fa-calendar" item-start></i>
                  <span>{{getDateFromNow(service.dateCreated)}}</span>
                </div>
              </div>
              <!-- <div class="col col-6 info-bar ">
                <div class="distance" *ngIf="tag === 'Viewed'" item-end>
                  <i class="fa fa-eye" item-start></i>
                  <span >{{service.users?.length}}</span>
                </div>
                <div class="distance" *ngIf="tag === 'Applied'" item-end>
                  <i class="fa fa-clipboard" item-start></i>
                  <span >{{service.users?.length}}</span>
                </div>
                <div class="distance" *ngIf="tag === 'Shared'" item-end>
                  <i class="fa fa-share" item-start></i>
                  <span >{{service.users?.length}}</span>
                </div>
              </div> -->
            </div>
          </ion-item-divider>
        </ion-card>
      </ion-list>
    </div>
  </div> 
  <ion-card padding text-wrap class="not-found" *ngIf="services.length < 1">
    <i class="fa fa-4x fa-briefcase"></i>
    <p>No services found matching that criteria.</p>
  </ion-card>

  <ion-fab bottom right (tap)="openPostJobPage()">
      <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>